/*place global styles here */
html, body { @apply h-full overflow-hidden; }

@font-face {
	/* Reference name */
	font-family: 'Raleway';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Raleway-VariableFont_wght.ttf');
}
							