/*place global styles here */
html,
body {
	@apply h-full;
}

@font-face {
	/* Reference name */
	font-family: 'Raleway';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Raleway-Light.ttf'), url('/fonts/Raleway-Regular.ttf');
}
							